:root {
    --main-solr-color: #4993E3; 
    --second-solr-color: #337ab7;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate .paginate_button,
th, label {
    color: var(--second-solr-color) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #ffffff !important;
    border: none;
    background: linear-gradient(to bottom, var(--main-solr-color) 0%, var(--main-solr-color) 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #ffffff !important;
    border: none;
    background: linear-gradient(to bottom, var(--second-solr-color) 0%, var(--second-solr-color) 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #ffffff !important;
    border: none;
    background: linear-gradient(to bottom, var(--main-solr-color) 0%, var(--main-solr-color) 100%);
}

.dt-solr-button {
    margin: 5px;
    width: 200px;
    padding: 8px 30px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    background-image: linear-gradient(to bottom, var(--main-solr-color) 0%, var(--main-solr-color) 100%);
    text-shadow: none;
}

.toggle-vis.highlight {
    background-image: linear-gradient(to bottom, var(--second-solr-color) 0%, var(--main-solr-color) 100%);
}

input[type=search] {
    border: 0;
    border-bottom: 1px solid var(--main-solr-color);
}

#solrDT > thead > tr > th > input {
    border: 0;
    margin: 0;
    padding: 6px 0 7px;
    width: 100%;
    display: block;
    border-bottom: 1px solid var(--main-solr-color);
}

select {
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    padding: 5px 8px;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

select:focus {
    outline: none;
}

