.btn-green {
  background-color: #2eca6a;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderBtn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderBtn:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderBtn {
  background-color: #2eca6a;
}

input:focus + .sliderBtn {
  box-shadow: 0 0 1px #2eca6a;
}

input:checked + .sliderBtn:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.sliderBtn.round {
  border-radius: 34px;
}

.sliderBtn.round:before {
  border-radius: 50%;
}

.title {
    font-size: 16px;
    margin-bottom: 0
}

.sdecs {
    padding: 15px 0;
    color: #999
}

.slabels {
    float: right
}

.slider {
    margin: 15px 0 45px
}

#periodselector {
    padding: 15px 0;
    margin-bottom: 15px
}

#periodselector #period {
    width: 7px;
    height: 27px
}

#periodselector #period #periodbackdrop {
    width: 10px;
    height: 10px
}

#month {
    position: absolute;
    width: 170px;
    left: 20px;
    margin-top: 15px;
    cursor: pointer
}

#year {
    position: absolute;
    width: 170px;
    left: 20px;
    margin-top: -10px;
    cursor: pointer
}

#QsPrice {
    border: 1px solid #d5d7d8;
    border-width: 0 0 0 1px;
    padding-left: 15px
}

#pricetext {
    border-bottom: 3px double #e5e5e5;
    display: inline-block
}

#pricetext #btext,
#pricetext .fa,
#pricetext .glyphicon {
    font-size: 18px
}

#pricetext h4,
#pricetext h5 {
    text-transform: uppercase;
    margin-bottom: 0
}

#dollar {
    font-size: 37px;
    font-weight: 700;
    color: #000;
    letter-spacing: -2px
}

#cents {
    font-size: 18px;
    font-weight: 700;
    color: #000
}

#presets {
    position: relative
}

.ui-slider {
    background-color: #e0e2e2
}

.ui-slider .ui-slider-handle:focus,
.ui-slider .ui-slider-handle:active {
    outline: 0;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .3);
    text-decoration: none
}

.ui-slider .ui-slider-handle:hover:before,
.ui-slider .ui-slider-handle:focus:before,
.ui-slider .ui-slider-handle:active:before {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3)
}

.ui-slider .ui-slider-handle {
    border-radius: 0;
    width: .9em;
    height: 1.45em;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid
}

.ui-slider .ui-slider-handle:before {
    display: inline-block
}

.ui-slider .ui-slider-handle:hover {
    background-color: #fff;
    outline: 0;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .3);
    text-decoration: none
}

.ui-slider-horizontal {
    height: 10px
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: -.725em;
    top: -.4em
}

.ui-slider-vertical {
    width: 10px
}

.ui-slider-vertical .ui-slider-handle {
    left: -.35em;
    margin-bottom: -.65em;
    width: 1.45em;
    height: .9em
}

.ui-slider-range {
    background-color: #414141
}

.ui-slider-handle {
    outline: 0!important;
    border-color: #414141;
    color: #414141
}

.ui-slider-primary .ui-slider-handle,
.ui-slider-primary .ui-slider-handle:hover,
.ui-slider-primary .ui-slider-handle:focus,
.ui-slider-primary .ui-slider-handle:active {
    border-color: #2eca6a;
    color: #2eca6a;
}

.ui-slider-primary .ui-slider-range {
    background-color: #2eca6a
}

.ui-slider-success .ui-slider-handle,
.ui-slider-success .ui-slider-handle:hover,
.ui-slider-success .ui-slider-handle:focus,
.ui-slider-success .ui-slider-handle:active {
    border-color: #5cb85c;
    color: #5cb85c
}

.ui-slider-success .ui-slider-range {
    background-color: #2eca6a
}

.ui-slider-danger .ui-slider-handle,
.ui-slider-danger .ui-slider-handle:hover,
.ui-slider-danger .ui-slider-handle:focus,
.ui-slider-danger .ui-slider-handle:active {
    border-color: #2eca6a;
    color: #d9534f
}

.ui-slider-danger .ui-slider-range {
    background-color: #2eca6a;
}

.ui-slider-info .ui-slider-handle,
.ui-slider-info .ui-slider-handle:hover,
.ui-slider-info .ui-slider-handle:focus,
.ui-slider-info .ui-slider-handle:active {
    border-color: #5bc0de;
    color: #5bc0de
}

.ui-slider-info .ui-slider-range {
    background-color: #5bc0de
}

.ui-slider-warning .ui-slider-handle,
.ui-slider-warning .ui-slider-handle:hover,
.ui-slider-warning .ui-slider-handle:focus,
.ui-slider-warning .ui-slider-handle:active {
    border-color: #f0ad4e;
    color: #f0ad4e
}

.ui-slider-warning .ui-slider-range {
    background-color: #f0ad4e
}

#tooltip {
    display: none;
    position: absolute;
    max-width: 200px;
    z-index: 1070;
    top: -75px
}

#tooltip .text {
    padding: 10px 5px;
    display: block;
    background: #000;
    color: #fff;
    font-size: 12px;
    opacity: .8;
    filter: alpha(opacity=80);
    border-left: 5px solid #5cb85c
}

@media (max-width:767px) {
    #QsPrice {
        border: 1px solid #d5d7d8;
        border-width: 1px 0 0!important;
        padding-top: 15px;
        padding-left: 0!important
    }
}
