.well {
    background-color: white;
}

.loader-container {
    width: 100%;
    display: flex;
    height: 50vh;
    justify-content: center;
}

.loader {
    border: 16px solid black;
    border-radius: 50%;
    border-top: 16px solid lightgray;
    border-right: 16px solid grey;
    border-bottom: 16px solid darkgray;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    align-self: center;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}