body {
    line-height: 30px;
}

#logo {
        content:url("https://logos.yoctu.com/logo/skoreway-64.jpg");
}
#logo:after {
    height:64px;
    width: 64px;
    background-size: 64px 64px;
}

.navbar {
    background: #fff;
    border: 0;
    min-height: 50px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    height: 20px;
    text-align: center;
    font-size: 12px;
}
