body {
    line-height: 20px;
    font-family: Montserrat;
}

input, select {
    font-weight: bold;
}

.form-control[readonly] {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hr-dash {
    border-style: dashed;
    margin-top: 80px;
}

.shaqlabel {
    font-size: 8px;
    height: 20px;
}

.navbar {
    background: #fff;
    border: 0;
    min-height: 50px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.footer {
    bottom: 10px;
    width: 100%;
    position: fixed;
    height: 20px;
    text-align: center;
    font-size: 12px;
}

.btn-glyphicon {
    font-size: 200%;
    border: none;
    border-radius: 16px;
}

.panel-default>.panel-heading {
    background-color: #fff;
}

.panel {
    border: 0px #fff;
    border-radius: 32px;
    padding: 12px;
}

.panel-footer, .panel-heading, .panel-body {
    border: none;
}

.panel-default>.panel-footer {
    background-color: #fff;
}

.well {
    border-radius: 16px;
}

.btn-room {
    width: 60%;
}

#shaq-valid, #shaq-name, #shaq-valid-from-btn {
    font-size: 200%;
    border-radius: 16px;
    min-width: 200px;
}

#shaq-valid-from-btn {
    border: none;
}

#shaqContainer {
    width: 90%;
    margin: auto;
}

#amount {
    font-size: 20px;
}

.segment {
    font-weight: bold;
    line-height: 1.5;
}

.bidBidderCode {
    font-size: 24px;
    font-weight: bold;
}

.bidBidderName {
    font-size: 12px;
}

.input-group-btn {
    vertical-align: top;
    padding-right: 20px;
}

table.dataTable {
  -webkit-border-vertical-spacing: 10px;
}

.table>tbody>tr>td:not(.child):first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.lastVisibleChild {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.table>tbody>tr>td:not(.child):last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

table.dataTable thead th {
  border-bottom: 0;
}
table.dataTable.no-footer {
  border-bottom: 0;
}

#shaqContainer {
    margin-bottom: 50px;
}
